---
layout: page
description: "「明道若昧，进道若退」"
---

{% for post in paginator.posts %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% endif %}
    <div class="post-content-preview">
      {% if post.lang == 'en' %} {{ post.content | strip_html | truncate:300 }}
      {% else %} {{ post.content | strip_html | truncate:200 }} {% endif %}
    </div>
  </a>
  <p class="post-meta">
    Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{%
    endif %} on {{ post.date | date: "%B %-d, %Y" }}
  </p>
</div>
<hr />
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a
      href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
      >&larr; Newer Posts</a
    >
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a
      href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
      >Older Posts &rarr;</a
    >
  </li>
  {% endif %}
</ul>
{% endif %}

<!--
nexushd主页
<table class="head" cellspacing="0" cellpadding="0" align="center">
  <tbody><tr>
    <td class="clear" style="width: 100%">
                  <div class="logo_img">
                          <link href="/carousel/carousel.css?r=1" rel="stylesheet">
            <link href="/carousel/contents.css?r=1734863264" rel="stylesheet">
            <div id="banner">
<a id="m0053198" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0053198&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0053198.jpg&quot;);"></a>
<a id="m0054632" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0054632&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0054632.jpg&quot;);"></a>
<a id="m2402927" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt2402927&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/2402927.jpg&quot;);"></a>
<a id="m0067116" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0067116&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0067116.jpg&quot;);"></a>
<a id="m0067023" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0067023&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0067023.jpg&quot;);"></a>
<a id="m1690389" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt1690389&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/1690389.jpg&quot;);"></a>
<a id="m0063522" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0063522&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0063522.jpg&quot;);"></a>
<a id="m0245712" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0245712&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0245712.jpg&quot;);"></a>
<a id="m13406094" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt13406094&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/13406094.jpg&quot;);"></a>
<a id="m18939874" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt18939874&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/18939874.jpg&quot;);"></a>
<a id="m0977907" class="poster" href="/torrents.php?incldead=0&amp;spstate=0&amp;inclbookmarked=0&amp;search=tt0977907&amp;search_area=4&amp;search_mode=0&amp;notnewword=1" style="background-image: url(&quot;/carousel/posters/0977907.jpg&quot;);"></a>
</div>								<script src="/carousel/carousel.js?r=1"></script>
                      </div>
              </td>
    <td class="clear nowrap" align="right" valign="middle">
              </td>
  </tr>
</tbody></table> 
-->